name: Static Application Security Testing - Semgrep

on:
  workflow_call:
    inputs:
      timeout-minutes:
        type: number
        description: Timeout to break the job.
        required: false
        default: 5
      semgrep-version:
        type: string
        description: Semgrep Image tag
        required: false
        default: '1.69'
      runs-on:
        type: string
        description: Execution Runners
        required: false
        default: 'ubuntu-latest'      
    secrets:
      token:
        required: true
 
jobs:
  sast_semgrep:
    name: Scan Semgrep
    runs-on: ${{ inputs.runs-on }}
    timeout-minutes: ${{ inputs.timeout-minutes }}
    container:
      image: returntocorp/semgrep:${{ inputs.semgrep-version }}
    steps:
      - name: checkout repository
        uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f               #@v4.1.3
        with:
          token: ${{ secrets.token }}
     
      - name: semgrep ci
        id: scan
        run: |
           semgrep ci --output semgrep.output
           cat semgrep.output
        env:
          SEMGREP_RULES: >-
            p/security-audit
            p/secrets
